<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruian.core.mapper.CategoryMapper">
    <select id="findAll" resultType="Category">
        SELECT t1.*, t2.category_name as parent_name FROM rui_category t1
        left join rui_category t2 on t1.parent_Id = t2.id
        order by t1.create_time desc
    </select>

    <select id="findByName" resultType="Category">
        SELECT t1.*, t2.category_name as parent_name FROM rui_category t1
        left join rui_category t2 on t1.parent_Id = t2.id
        where t1.category_name = #{categoryName}
    </select>

    <insert id="add" parameterType="Category">
        insert into rui_category (id, category_name, level, parent_id, create_time, update_time) values
        (uuid(), #{categoryName}, #{level}, #{parentId}, now(), now())
    </insert>

    <update id="update" parameterType="Category">
        update rui_category set category_name=#{categoryName}, level=#{level}, parent_id=#{parentId}, update_time=now()
        where id=#{id}
    </update>
</mapper>