<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruian.core.mapper.ProductMapper">
    <select id="find" resultType="Product">
        SELECT t1.*, t2.category_name, t3.id as first_category_id, t3.category_name as first_category_name from rui_product t1
        left join rui_category t2 on t1.category_id = t2.id
        left join rui_category t3 on t2.parent_id = t3.id
        where 1=1
        <if test="query.name != null and query.name != ''">
            and t1.product_name  like concat('%', #{query.name}, '%')
        </if>
        limit #{page.startIndex}, #{page.pageSize}
    </select>
    <select id="findCount" resultType="Integer">
        SELECT count(1) from rui_product t1
        left join rui_category t2 on t1.category_id = t2.id
        left join rui_category t3 on t2.parent_id = t3.id
        where 1=1
        <if test="query.name != null and query.name != ''">
            and t1.product_name  like concat('%', #{query.name}, '%')
        </if>
    </select>

    <insert id="add" parameterType="Product">
        insert into rui_product (id, category_id,product_name, unit, bar_code, product_code, default_price, remark, create_time) values
        (uuid(), #{categoryId}, #{productName}, #{unit}, #{barCode}, #{productCode},#{defaultPrice}, #{remark}, now())
    </insert>

    <update id="update" parameterType="Product">
        update rui_product set category_id=#{categoryId}, product_name=#{productName}, unit=#{unit},
        bar_code=#{barCode}, product_code=#{productCode}, default_price=#{defaultPrice}, remark=#{remark}
        where id=#{id}
    </update>
</mapper>